body { background: #666; font-family: Arial, sans-serif; padding: 5rem; }
div#container { background: none repeat scroll 0 0 #000; height: 16rem; margin: 0 auto; padding: 20px 30px 30px; width: 30rem; }
